{% extends 'base.html.twig' %}

{% block title %}{% trans %}profile.my{% endtrans %}{% endblock %}

{% block body %}

<div>
    <h3>{% trans %}hello{% endtrans %} {{ app.user.userIdentifier }}!</h3>
    <h5>{% trans %}profile.your_data{% endtrans %}</h5>
    <p>{% trans %}email.address{% endtrans %}: {{ app.user.email }}</p>
    <p>{% trans %}firstName{% endtrans %}: {{ app.user.name }}</p>
    <p>{% trans %}lastName{% endtrans %}: {{ app.user.surname }}</p>
    <p>{% trans %}register_date{% endtrans %}: {{ app.user.createdAt|date('Y-m-d H:i') }}</p>
    <p>{% trans %}participants.limit_list{% endtrans %}: {{ app.user.participantListSize }}</p>
    <a href="{{ path('app_profile_edit') }}" class="btn btn-sm btn-primary">{% trans %}profile.change_data{% endtrans %}</a>

    {% if is_granted("ROLE_ORGANIZATOR") %}
        <div class="mt-2">
        <h5 class="my-3">{% trans %}subaccounts{% endtrans %}</h5>
            <a href="{{ path('app_profile_create_subacccount') }}" class="btn btn-sm btn-secondary">
                {{ 'profile.subaccount.create'|info_icon }}
                {{ 'profile.subaccount.create'|help_icon }}
                {% trans %}profile.subaccount.create.button{% endtrans %}
            </a>
            <div class="my-2">
                <ul class="list-group">
        {% for subaccount in app.user.subaccounts %}
            <li class="list-group-item">{{ subaccount.username }}</li>
            {% else %}
            <p class="alert alert-info">{% trans %}profile.subaccount.no_subaccounts{% endtrans %}</p>
        {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
