{% extends 'base.html.twig' %}

{% block title %}{% trans %}event.list{% endtrans %}{% endblock %}

{% block body %}

    <h3>{% trans %}event.incomings{% endtrans %}</h3>

    <div class="table-responsive">
        <table id="eventsTable" class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans %}name{% endtrans %}</th>
                    <th>{% trans %}event.organizer{% endtrans %}</th>
                    <th class="d-none d-md-table-cell">{% trans %}event.logo.text{% endtrans %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for event in pagination %}
                    <tr>
                        <td>{{ event.name }}</td>
                        <td>{{ event.organizer }}</td>
                        <td class="d-none d-md-table-cell"><img src="{{ asset(event.logoPath) }}" class="img-fluid img-logo" alt=""></td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                {% if manage %}
                                <a href="{{ path('app_event_show',{_locale:app.request.locale,slug:event.slug}) }}" class="btn btn-sm btn-outline-info mb-2">{% trans %}preview{% endtrans %}</a>
                                <a href="{{ path('app_event_edit',{_locale:app.request.locale,slug:event.slug}) }}" class="btn btn-sm btn-outline-secondary mb-2">{% trans %}edit{% endtrans %}</a>
                                {% else %}
                                <a href="{{ path('app_event_show',{slug:event.slug}) }}" class="btn btn-primary btn-sm">{% trans %}enter{% endtrans %}</a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">{% trans %}event.empty_list{% endtrans %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
