{% extends 'base.html.twig' %}

{% block title %}{% trans %}Importuj listę uczestników{% endtrans %}{% endblock %}

{% block body %}
<div>
    <h3>{% trans %}Importuj listę uczestników{% endtrans %}</h3>
    {{ form_start(form) }}
        <div class="form-group row">
            <div class="col-12 col-sm-3 col-form-label">
                {{form_label(form.file)}}
            </div>
            <div class="col-12 col-sm-9">
                {{ form_widget(form.file) }}
            </div>
        </div>
    {% if list.open is not same as true or (list.participants|length)>=list.user.participantListSize %}
        {% set closed=true %}
    {% else %}
        {% set closed=false %}
    {% endif %}
    {{ form_widget(form.submit,{attr:{"disabled":closed} }) }}
    {% if closed %}
        <div class="alert alert-danger my-2">
            {% trans %}list_full_cannot_import{% endtrans %}
        </div>
    {% endif %}
    {{ form_end(form) }}
    {% if error is not null %}
        <p class="alert alert-danger mt-3 font-weight-bold">{% trans %}Niewłaściwa kolejność kolumn w przesłanym pliku{% endtrans %}</p>
    {% endif %}
    <div class="alert alert-info mt-2">
        <p class="font-weight-bold">{% trans %}Kolejność kolumn w pliku{% endtrans %}:</p>
        <ul>
            <li>{% trans %}Imię{% endtrans %}</li>
            <li>{% trans %}Nazwisko{% endtrans %}</li>
            <li>{% trans %}Telefon{% endtrans %}</li>
            <li>{% trans %}Adres e-mail{% endtrans %}</li>
            <li>{% trans %}Ilość głosów{% endtrans %}</li>
            <li>{% trans %}Ilość akcji{% endtrans %}</li>
        </ul>
    </div>
</div>
{% endblock %}
