{% extends 'base.html.twig' %}

{% block title %}{{ title}}{% endblock %}

{% block body %}
<div>
    <h3>{{ title }}</h3>
    {{ form_start(form) }}
        <div class="form-group row">
            <div class="col-12 col-sm-3 col-form-label">
                {{form_label(form.name)}}
            </div>
            <div class="col-12 col-sm-9">
                {{ form_widget(form.name) }}
            </div>
        </div>
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}
</div>
{% endblock %}
