{% extends 'base.html.twig' %}

{% block title %}{% trans %}participants.list.text{% endtrans %}{% endblock %}

{% block body %}
<div>
    <h3>{% trans %}participants.list.short{% endtrans %}: {{ list.name }}</h3>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>{% trans %}id{% endtrans %}</th>
                <th>{% trans %}participants.name{% endtrans %}</th>
                <th>{% trans %}phone{% endtrans %}</th>
                <th>{% trans %}email.address{% endtrans %}</th>
                <th>{% trans %}votes{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
                <th>{% trans %}participants.single.accept.text{% endtrans %}</th>
                <th>{% trans %}participants.single.verified.text{% endtrans %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for participant in participants %}
                <tr>
                    <td>{{ participant.aid }}</td>
                    <td>{{ participant.name }}</td>
                    <td>{{ participant.phone }}</td>
                    <td>{{ participant.email }}</td>
                    <td>{{ participant.votes }}</td>
                    <td>{{ participant.actions }}</td>
                    <td class="text-center">
                        {% if participant.accepted %}
                            <i class="fas fa-check-square"></i>
                        {% else %}
                            <i class="fas fa-square"></i>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if participant.verified %}
                            <i class="fas fa-check-square"></i>
                        {% else %}
                            <i class="fas fa-square"></i>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group">
                        <a href="{{ path('app_manage_participant_edit',{id:participant.id}) }}" class="btn btn-sm btn-outline-primary">
                            {% trans %}edit{% endtrans %}
                        </a>
                        <form method="post" action="{{ path('app_manage_participant_delete', {'id': participant.id}) }}"
                                    onsubmit="return confirm('{% trans %}participants.single.delete.confirm{% endtrans %}');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participant.id) }}">
                            <button class="btn btn-sm btn-outline-danger">
                                {% trans %}delete{% endtrans %}
                            </button>
                        </form>
                        <form method="post" action="{{ path('app_manage_participant_accept', {'id': participant.id}) }}"
                              {% if participant.accepted %}
                                  onsubmit="return confirm('{% trans %}participants.single.reject.confirm{% endtrans %}');"
                                {% else %}
                                    onsubmit="return confirm('{% trans %}participants.single.reject.confirm{% endtrans %}');"
                                    {% endif %}
                        >
                            <input type="hidden" name="_method" value="PATCH">
                            <input type="hidden" name="_token" value="{{ csrf_token('patch' ~ participant.id) }}">
                            <button class="btn btn-sm btn-outline-dark">
                                {% if participant.accepted %}
                                    {% trans %}participants.single.reject.button{% endtrans %}
                                {% else %}
                                    {% trans %}participants.single.accept.button{% endtrans %}
                                    {% endif %}

                            </button>
                        </form>
                        </div>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="9">
                        <div class="alert alert-info text-center">{% trans %}participants.list.empty{% endtrans %}</div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        {% if participants|length >0 %}
        <form method="post" action="{{ path('app_manage_participant_list_accept', {'id': list.id}) }}"
                {% if list.accepted %}
                    onsubmit="return confirm('{% trans %}participants.single.reject_all.confirm{% endtrans %}');"
                {% else %}
                    onsubmit="return confirm('{% trans %}participants.single.accept_all.confirm{% endtrans %}');"
                {% endif %}
        >
            <input type="hidden" name="_method" value="PATCH">
            <input type="hidden" name="_token" value="{{ csrf_token('patch' ~ list.id) }}">
            <button class="btn btn-sm btn-outline-dark">
                {% if list.accepted %}
                    {{ 'participants.single.reject_all'|info_icon }}
                    {{ 'participants.single.reject_all'|help_icon }}
                    {% trans %}participants.single.reject_all.button{% endtrans %}
                {% else %}
                    {{ 'participants.single.accept_all'|info_icon }}
                    {{ 'participants.single.accept_all'|help_icon }}
                    {% trans %}participants.single.accept_all.button{% endtrans %}
                {% endif %}

            </button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
