{% extends 'base.html.twig' %}

{% block title %}{% trans %}Lista uczestników{% endtrans %}{% endblock %}

{% block body %}
<div>
    <h3>{% trans %}Moje listy uczestników{% endtrans %}</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>{% trans %}ID{% endtrans %}</th>
                <th>{% trans %}Imię{% endtrans %}</th>
                <th>{% trans %}Nazwisko{% endtrans %}</th>
                <th>{% trans %}Telefon{% endtrans %}</th>
                <th>{% trans %}Głosy{% endtrans %}</th>
                <th>{% trans %}Akcje{% endtrans %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for participant in participants %}
                <tr>
                    <td>{{ participant.aid }}</td>
                    <td>{{ participant.name }}</td>
                    <td>{{ participant.surname }}</td>
                    <td>{{ participant.phone }}</td>
                    <td>{{ participant.votes }}</td>
                    <td>{{ participant.actions }}</td>
                    <td>
                        <div class="btn-group">
                        <a href="{{ path('app_manage_participant_edit',{id:participant.id}) }}" class="btn btn-sm btn-outline-primary">{% trans %}Edytuj{% endtrans %}</a>
                        <form method="post" action="{{ path('app_manage_participant_delete', {'id': participant.id}) }}"
                                    onsubmit="return confirm('{% trans %}Na pewno chcesz usunąć tego uczestnika?{% endtrans %}');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participant.id) }}">
                            <button class="btn btn-sm btn-outline-dark">
                                {% trans %}Usuń{% endtrans %}
                            </button>
                        </form>
                        </div>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">{% trans %}Lista jest pusta{% endtrans %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
