{% extends 'base.html.twig' %}

{% block title %}{% trans %}participants.list.text{% endtrans %}: {{ list.name }}{% endblock %}

{% block body %}
<div>
    <h3>{{ list.name }}</h3>
    <p>
        {% if list.open %}
            {% trans %}participants.list.list_open{% endtrans %}
        {% else %}
            {% trans %}participants.list.list_closed{% endtrans %}
        {% endif %}
        {{ include('participant/_open_form.html.twig',{list:list}) }}
    </p>
    <p>{% trans %}participants.count{% endtrans%}: {{ list.participants|length }}</p>
    <p><a href="{{ path('app_manage_participant_list_import',{id:list.id}) }}" class="btn btn-sm btn-outline-primary">{% trans %}participants.import.title{% endtrans %}</a></p>
    <p><a href="javascript:void(0)" class="btn btn-sm btn-outline-primary show_link">{% trans %}participants.assign.show_link{% endtrans %}</a></p>
    <p id="assign_link" class="d-none">{{ url('app_participant_list_assign',{hashId:list.hashId}) }}</p>
    <p><a href="{{ path('app_manage_participant_list_show_participants',{id:list.id}) }}" class="btn btn-sm btn-outline-primary">{% trans %}participants.show_participants{% endtrans %}</a></p>

</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
        $(document).ready(function () {
            $('.show_link').click(function () {
                $('#assign_link').removeClass('d-none');
            });
        });
    </script>
{% endblock %}
