{% extends 'base.html.twig' %}

{% block title %}{% trans %}registration{% endtrans %}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h3>{% trans %}please.register{% endtrans %}</h3>

    {{ form_start(form) }}
    <div class="form-group row">
        <div class="col-12 pt-1 col-sm-3 col-form-label">
            {{ form_label(form.username) }}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.username) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 pt-1 col-sm-3 col-form-label">
            {{ form_label(form.clientName) }}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.clientName) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 pt-1 col-sm-3 col-form-label">
            {{ form_label(form.plainPassword.first) }}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.plainPassword.first) }}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-12 pt-1 col-sm-3 col-form-label">
            {{ form_label(form.plainPassword.second) }}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.plainPassword.second) }}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-12 pt-1 col-sm-3 col-form-label">
            {{ form_label(form.email) }}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.email) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 pt-1 col-sm-3 col-form-label">
            {{ form_label(form.name) }}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 pt-1 col-sm-3 col-form-label">
            {{ form_label(form.surname) }}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.surname) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 pt-1 col-sm-3 col-form-label">
            {{ form_label(form.participantListSize) }}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.participantListSize) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 pt-1 col-sm-3 col-form-label">
            {{ form_label(form.eventsLimit) }}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.eventsLimit) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 pt-1 col-sm-3 col-form-label">
            {{ form_label(form.participantsListCount) }}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.participantsListCount) }}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-12 pt-1 col-sm-3 col-form-label">
            {{ form_label(form.pack) }}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.pack) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 pt-1 col-sm-3 col-form-label">
            {{ form_label(form.captcha) }}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.captcha) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 pt-1 col-sm-3 col-form-label">
            {{ form_label(form.agreeTerms) }}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.agreeTerms) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
