{% extends 'base.html.twig' %}

{% block title %}{% trans %}question.results{% endtrans %}: {{ question.questionContent}} {% endblock %}
{% block js_top %}
    {{ parent() }}
    <script src="{{ asset('assets/js/Chart.min.js') }}"></script>
{% endblock %}
{% block body %}
    <div>
        <h4>{{ question.questionContent }}</h4>
        <h5>{% trans %}results{% endtrans %}</h5>

        <div class="alert alert-info text-center">{% trans %}question.no_results{% endtrans %}</div>
        <div class="row">
            <div class="col-6 text-left">
                {% if(question.sort>1) %}
                    <a class="btn btn-secondary btn-sm" href="{{ path('app_question_results',{slug:question.polling.slug,sort:(question.sort-1)}) }}">
                        {% trans %}question.previous{% endtrans %}
                    </a>
                {% endif %}
            </div>
            <div class="col-6 text-right">
                {% if(question.sort<(question.polling.questions|length)) %}
                    <a class="btn btn-secondary btn-sm" href="{{ path('app_question_results',{slug:question.polling.slug,sort:(question.sort+1)}) }}">
                        {% trans %}question.next{% endtrans %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
