{% extends 'base.html.twig' %}

{% block title %}{% trans %}Podaj kod dostępu do pokoju% {% endtrans %}{% endblock %}

{% block body %}

    <h4>{% trans %}Wprowadź kod aby wejśc do tego pokoju{% endtrans %}</h4>
    {{ form_start(form) }}
    <div class="row form-group">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.code)}}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.code) }}
        </div>
    </div>
    {{ form_row(form._token) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}