{% extends 'base.html.twig' %}

{% block title %}{% trans %}Pokój{% endtrans %}: {{ room.name }}{% endblock %}

{% block body %}
    <div>
        <h4>{{ room.name }}</h4>
        <img src="{{ asset(room.event.logoPath) }}" alt="" class="img-fluid mb-3 img-logo">
        {% if manage %}
        <p>{% trans %}Kod dostępu{% endtrans %}: {{ room.code.name }}</p>
        {% endif %}
        <p>{% trans %}Głosowania{% endtrans %}</p>
        {% if manage %}
        <div class="btn-group btn-group-sm mb-2">
            <a class="btn btn-primary" href="{{ path('app_manage_create_polling',{slug_parent:room.event.slug,slug_child:room.slug}) }}">{% trans %}Dodaj głosowanie{% endtrans %}</a>
            <a class="btn btn-primary" href="{{ path('app_manage_create_general_meeting',{slug_parent:room.event.slug,slug_child:room.slug}) }}">{% trans %}Dodaj Walne zgromadzenie{% endtrans %}</a>
        </div>
        {% endif %}
        <div class="row">
            {% for meeting in room.generalMeetings %}
            <div class="col-12 mb-2">
                {{ meeting.name }}
                <span class="border-info border p-1 d-inline-block">{% trans %}Data rozpoczęcia{% endtrans %}: {{ meeting.startDate|date('d/m/Y H:i') }}</span>
                <div class="btn-group-sm btn-group">
                    {% if manage %}
                        <a href="{{ path('app_manage_general_meeting_show',{slug:meeting.slug}) }}" class="btn btn-primary">{% trans %}Podgląd{% endtrans %}</a>
                        <a href="{{ path('app_manage_general_meeting_edit',{slug:meeting.slug}) }}" class="btn btn-secondary">{% trans %}Edycja{% endtrans %}</a>
                        {% if meeting.variant==1 %}
                            <a href="{{ path('app_manage_general_meeting_resolutions_list',{slug:meeting.slug}) }}" class="btn btn-info">{% trans %}Lista uchwał{% endtrans %}</a>
                        {% else %}
                            <a href="{{ path('app_manage_general_meeting_candidates_list',{slug:meeting.slug}) }}" class="btn btn-info">{% trans %}Lista kandydatów{% endtrans %}</a>
                        {% endif %}
                        <a href="{{ path('app_manage_general_meeting_cockpit',{slug:meeting.slug}) }}" class="btn btn-outline-info">{% trans %}Przejdź do zarządzania{% endtrans %}</a>
                        {{ include('polling/general_meeting_status.html.twig',{meeting:meeting}) }}
                        {% else %}
                        <a href="{{ path('app_general_meeting_join',{slug:meeting.slug}) }}" class="btn btn-primary">{% trans %}Dołącz do zgromadzenia{% endtrans %}</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% for polling in pollings %}
            <div class="col-12 mb-2">
                {{ polling.name }}
                {% if manage %}
                <span class="mr-2">({{ polling.questions|length }}/{{ polling.questionsCount }})</span>
                {% endif %}
                <div class="btn-group btn-group-sm">
                    {% if manage %}
                    <a href="{{ path('app_manage_polling_show',{slug:polling.slug}) }}" class="btn btn-primary">{% trans %}Podgląd{% endtrans %}</a>
                    <a href="{{ path('app_polling_edit',{slug:polling.slug}) }}" class="btn btn-secondary">{% trans %}Edycja{% endtrans %}</a>

                    {% if polling.questions|length>0 %}
                        <a href="{{ path('app_polling_vote_test',{slug:polling.slug}) }}" class="btn btn-success">{% trans %}Testowe głosowanie{% endtrans %}</a>
                        <a href="{{ path('app_polling_results',{slug:polling.slug}) }}" class="btn btn-info">{% trans %}Wyniki{% endtrans %}</a>
                    {% endif %}
                    {% if polling.session %}
                        {% if polling.settings is null or polling.settings.status==0 %}
                            <a href="{{ path('app_manage_begin_session',{slug:polling.slug}) }}" class="btn btn-success">{% trans %}Rozpocznij sesję{% endtrans %}</a>
                        {% endif %}
                        {% if polling.settings is not null and polling.settings.status==1 %}
                            {{ include('manage/_end_session.html.twig',{polling:polling}) }}
                        {% endif %}
                        <a {% if polling.settings is not null and polling.settings.answerEnd > date()%}href="javascript:void(0)" {% else %}href="{{ path('app_manage_session_settings',{slug:polling.slug}) }}"{% endif %} class="btn btn-secondary">{% trans %}Ustawienia sesji{% endtrans %}</a>
                        <a href="{{ path('app_manage_session_users',{slug:polling.slug}) }}" class="btn btn-outline-success">{% trans %}Lista użytkowników{% endtrans %}</a>
                    {% endif %}
                    {{ include('polling/_delete_form.html.twig') }}
                    {% else %}
                        {% if polling.session %}
                        <a href="{{ path('app_polling_vote_session',{slug:polling.slug}) }}" class="btn btn-primary">{% trans %}Przystąp do głosowania{% endtrans %}</a>
                            {% else %}
                                <a href="{{ path('app_polling_enter',{slug:polling.slug}) }}" class="btn btn-primary">{% trans %}Przystąp do głosowania{% endtrans %}</a>
                            {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
            {% if pollings|length==0 and room.generalMeetings|length==0 %}
                <div class="col-12">
                    <div class="alert-info alert">{% trans %}Brak głosowań{% endtrans %}</div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
