{% extends 'base.html.twig' %}

{% block title %}{% trans %}general_meeting.text{% endtrans %}: {{ meeting.name }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <h3>{{ meeting.name }}</h3>

            <p>
                {% if meeting.weight==1 %}
                    {% trans %}weight.votes{% endtrans %}
                {% else %}
                    {% trans %}weight.actions{% endtrans %}
                {% endif %}
            </p>
            {% if meeting.secret %}
                <p>{% trans %}secret_voting{% endtrans %}</p>
            {% endif %}
            {% if meeting.kworum %}
                <p class="mb-0">{% trans %}general_meeting.kworum.required_percent{% endtrans %}
                    : {{ meeting.kworumRequiredValue }}% </p>
                {% if active.kworum is defined and active.kworum is not null %}
                    {% if active.kworum %}
                        <p class="text-success font-weight-bold mb-0">{% trans %}general_meeting.kworum.success{% endtrans %}
                            - {{ meeting.kworumValue }}%</p>
                    {% else %}
                        <p class="text-danger font-weight-bold mb-0">{% trans %}general_meeting.kworum.fail{% endtrans %}
                            - {{ meeting.kworumValue }}%</p>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if participants is empty %}
                <p class="text-danger">{% trans %}general_meeting.participants.list_not_selected{% endtrans %}</p>
            {% endif %}

            <h4 class="mt-3">{% trans %}general_meeting.voting.list{% endtrans %}</h4>
            <div class="voting-list mb-2">
                <div class="row text-center font-weight-bold border align-items-center h-60px">
                    <div class="col pt-3 border-right h-100">{% trans %}voting{% endtrans %}:</div>
                    <div class="col pt-3 border-right h-100">{% trans %}result{% endtrans %}:</div>
                    {% if meeting.status == 1 %}
                        <div class="col-4 pt-3 h-100"></div>
                    {% endif %}
                </div>
                {% for voting in meeting.meetingVotings %}
                    <div class="row border-bottom border-left">
                        <div class="col py-1 border-right">{{ voting.content }} - {{ voting|voting_type }}</div>
                        <div class="col py-1 border-right">
                            {% if voting.votesSummary is not empty %}
                                {{ include('general_meeting/votting_results.html.twig',{voting:voting,votesSummary:voting.votesSummary}) }}
                                {% if voting.historicalResults is not empty %}
                                    <button class="btn btn-outline-secondary btn-sm historical-btn btn-block">
                                        <span class="hide d-none">{% trans %}general_meeting.voting.previous.hide{% endtrans %}</span>
                                        <span class="show">{% trans %}general_meeting.voting.previous.show{% endtrans %}</span>
                                    </button>
                                    <div class="pt-1 previous_results d-none">
                                        <p class="font-weight-bold mb-1 text-center">{% trans %}general_meeting.voting.previous.text{% endtrans %}
                                            :</p>
                                        {{ include('general_meeting/votting_results.html.twig',{voting:voting,votesSummary:voting.historicalResults[0]}) }}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% if meeting.status == 1 %}
                            <div class="col py-2 border-right text-center">
                                {# {% if meeting.kworum !=true or (meeting.kworum and active.kworum)  %} #}
                                {% if active.active is defined and active.active is null %}
                                    <div class="btn-group btn-group-sm">
                                        <button class="btn-primary btn btn-gm-activate-vote"
                                                data-href="{{ path('app_general_meeting_activate_vote',{slug:meeting.slug,sort:voting.sort}) }}"
                                                type="button">
                                            {% if voting.votesSummary is empty %}
                                                {% trans %}activate{% endtrans %}
                                            {% else %}
                                                {% trans %}general_meeting.restart.button{% endtrans %}
                                            {% endif %}
                                        </button>
                                        <a class="btn-outline-secondary btn"
                                           href="{{ path('app_manage_general_meeting_edit_voting',{slug:meeting.slug,sort:voting.sort}) }}">{% trans %}edit{% endtrans %}</a>
                                        {% if meeting.secret == false and voting.secret == false %}
                                            <a class="btn-secondary btn"
                                               href="{{ path('app_manage_general_meeting_course_voting',{slug:meeting.slug,sort:voting.sort}) }}">{% trans %}course{% endtrans %}</a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {# {% endif %} #}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>


            <div class="btn-group btn-group-sm">
                {% if meeting.status==0 %}
                    <a href="{{ path('app_manage_general_meeting_edit',{slug:meeting.slug}) }}"
                       class="btn btn-secondary">{% trans %}edit{% endtrans %}</a>
                {% endif %}
                {% if participants is not empty %}
                    <a href="{{ path('app_manage_participant_list_show_participants',{id:meeting.participantList.id}) }}"
                       class="btn btn-sm btn-primary">{% trans %}participants.list.text{% endtrans %}
                        ({{ participants|length }})</a>
                {% endif %}
                {{ include('general_meeting/general_meeting_status.html.twig',{meeting:meeting}) }}
                {% if meeting.status==1 %}
                    {% if active.active is defined and active.active is null %}
                        {{ include('general_meeting/general_meeting_start_test_vote_form.html.twig',{meeting:meeting}) }}
                    {% endif %}
                    {% if active.active is defined and active.active is not null %}
                        <button class="btn btn-outline-primary"
                                data-href="{{ path('app_ajax_general_meeting_end_vote',{slug:meeting.slug}) }}"
                                id="gm-end-vote">{% trans %}general_meeting.voting.end_vote.button{% endtrans %}</button>
                    {% endif %}
                {% elseif meeting.status==2 %}
                    <a class="btn btn-outline-dark"
                       href="{{ path('general_meeting_results_pdf',{slug:meeting.slug,valid:1}) }}">{% trans %}general_meeting.voting.get_votes.button{% endtrans %}</a>
                    {% if meeting.secret == false %}
                        <a class="btn btn-outline-success"
                           href="{{ path('app_manage_general_meeting_course_meeting',{slug:meeting.slug}) }}">{% trans %}general_meeting.voting.get_course.button{% endtrans %}</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="activeStatus pt-3">
                {% if active.active is defined and active.active is not null %}
                    {% if active.active == 0 %}
                        <h4>{% trans %}general_meeting.voting.presence.checking{% endtrans %}</h4>
                    {% else %}
                        <p class="mb-0">{% trans %}active_voting{% endtrans %}</p>
                        <h3>{{ voting.content }}</h3>
                        {% if meeting.secret or voting.secret %}
                            <p class="font-weight-bold mb-1">{{ 'general_meeting.secret_voting'|trans }}</p>
                        {% endif %}
                        {% if voting.type==2 %}
                            <p class="my-3">{% trans %}candidates{% endtrans %}:</p>
                            <ul class="list-group list-group-flush">
                                {% for k,candidate in voting.candidates %}
                                    <li class="list-group-item">{{ k+1 }}. {{ candidate.name }}</li>
                                {% endfor %}
                            </ul>
                        {% elseif voting.type==3 %}
                            <p class="my-3">{% trans %}available_answers{% endtrans %}:</p>
                            <ul class="list-group list-group-flush">
                                {% for k,answer in voting.answers %}
                                    <li class="list-group-item">{{ k+1 }}. {{ answer.content }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if participants is not empty %}
            <div class="col-md-6">
                {% set act=0 %}
                {% set vot=0 %}
                {% set t_act=0 %}
                {% set t_vot=0 %}
                {% for participant in participants %}
                    {% set t_act=t_act+participant.actions %}
                    {% set t_vot=t_vot+participant.votes %}
                {% endfor %}
                {% if active.votes is defined %}
                    {% for key,vote in active.votes %}
                        {% for participant in participants %}
                            {% if key==participant.aid %}
                                {% set act=act+participant.actions %}
                                {% set vot=vot+participant.votes %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <div class="votes my-3">

                    <div class="vote-row">
                        <div class="vote-box {% if meeting.secret or (voting is defined and voting.secret) and active.active >0 %}d-none{% endif %}"></div>
                        {% if active.active==0 or voting is null %}
                            <div class="vote-box">
                                T
                            </div>
                        {% else %}
                            {% set count=1 %}
                            {% if voting.type==2 %}
                                {% set count=voting.candidates|length %}
                            {% elseif voting.type==3 %}
                                {% set count=voting.answers|length %}
                            {% endif %}
                            {% if not meeting.secret and not voting.secret %}
                                {% for i in 1..count %}
                                    <div class="vote-box">{{ i }}</div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if active.active is null or active.active==0 %}
                        {% for i,item in participants %}
                            <div class="vote-row" id="vote_{{ i }}">
                                <div class="vote-box">{{ item.aid }}</div>
                                {% for i in 0..0 %}
                                    <div class="vote-box {% if active.votes[item.aid] is defined %}{{ active.votes[item.aid]|gm_vote_color }}{% endif %}"
                                         id="vote_{{ item.aid }}_{{ i }}">
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if meeting.secret or (voting is defined and voting.secret) %}
                        {% if voting is not null %}
                            <div class="vote_progress">
                                {% set count=1 %}
                                {% if voting.type==2 %}
                                    {% set count=voting.candidates|length %}
                                {% elseif voting.type==3 %}
                                    {% set count=voting.answers|length %}
                                {% endif %}
                                {% for i in 1..count %}
                                    {% if voting.type==1 %}
                                        {% set a_o=0 %} {# akcje za #}
                                        {% set a_a=0 %} {# akcje przeciw #}
                                        {% set a_h=0 %} {# akcje wstrzymane #}
                                        {% set v_o=0 %} {# głosy za #}
                                        {% set v_a=0 %} {# głosy przeciw #}
                                        {% set v_h=0 %} {# głosy wstrzymane #}
                                        {% if voting.voteStatus is defined and voting.voteStatus is not empty %}
                                            {% for key,item in voting.voteStatus %}
                                                {% for participant in participants %}
                                                    {% if key==participant.aid %}
                                                        {% if item==1 %}
                                                            {% set a_o=a_o+participant.actions %}
                                                            {% set v_o=v_o+participant.votes %}
                                                        {% elseif item==0 %}
                                                            {% set a_a=a_a+participant.actions %}
                                                            {% set v_a=v_a+participant.votes %}
                                                        {% else %}
                                                            {% set a_h=a_h+participant.actions %}
                                                            {% set v_h=v_h+participant.votes %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% else %}
                                            {% set v_o=0 %}
                                            {% set v_a=0 %}
                                            {% set v_h=0 %}
                                            {% set a_o=0 %}
                                            {% set a_a=0 %}
                                            {% set a_h=0 %}
                                        {% endif %}
                                        {% if meeting.totalVotes==0 and meeting.totalActions==0 %}
                                            {% set o_width=0 %}
                                            {% set a_width=0 %}
                                            {% set h_width=0 %}
                                        {% else %}
                                            {% set o_width=(meeting.weight==1? ((v_o/meeting.totalVotes)*100)|number_format(2) : ((a_o/meeting.totalActions)*100)|number_format(2) ) %}
                                            {% set a_width=(meeting.weight==1? ((v_a/meeting.totalVotes)*100)|number_format(2) : ((a_a/meeting.totalActions)*100)|number_format(2) ) %}
                                            {% set h_width=(meeting.weight==1? ((v_h/meeting.totalVotes)*100)|number_format(2) : ((a_h/meeting.totalActions)*100)|number_format(2) ) %}
                                        {% endif %}
                                        <div class="vote-row" id="vote_{{ i }}">
                                            <div class="vote-box">{{ i }}</div>
                                            <div class="progress" id="progress_{{ i }}">
                                                <div class="progress-bar bg-success" data-votes="{{ v_o }}"
                                                     data-actions="{{ a_o }}" id="progressOn_{{ i }}"
                                                     title="{{ o_width }}%" role="progressbar"
                                                     style="width: {{ o_width }}%" aria-valuenow="{{ o_width }}"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                                <div class="progress-bar bg-danger" data-votes="{{ v_a }}"
                                                     data-actions="{{ a_a }}" id="progressAgainst_{{ i }}"
                                                     title="{{ a_width }}%" role="progressbar"
                                                     style="width: {{ a_width }}%" aria-valuenow="{{ a_width }}"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                                <div class="progress-bar bg-warning" data-votes="{{ v_h }}"
                                                     data-actions="{{ a_h }}" id="progressHold_{{ i }}"
                                                     title="{{ h_width }}%" role="progressbar"
                                                     style="width: {{ h_width }}%" aria-valuenow="{{ h_width }}"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    {% elseif voting.type==2 %}
                                        {% set a_v=0 %} {# akcje ważne #}
                                        {% set a_e=0 %} {# akcje błędne #}
                                        {% set v_v=0 %} {# głosy ważne #}
                                        {% set v_e=0 %} {# głosy błędne #}
                                        {% if voting.voteStatus[i] is defined and voting.voteStatus[i] is not empty %}
                                            {% for key,item in voting.voteStatus[i] %}
                                                {% for participant in participants %}
                                                    {% if key==participant.aid %}
                                                        {% if item==1 %}
                                                            {% set a_v=a_v+participant.actions %}
                                                            {% set v_v=v_v+participant.votes %}
                                                        {% else %}
                                                            {% set a_e=a_e+participant.actions %}
                                                            {% set v_e=v_e+participant.votes %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% else %}
                                            {% set v_v=0 %}
                                            {% set v_e=0 %}
                                            {% set a_v=0 %}
                                            {% set a_e=0 %}
                                        {% endif %}
                                        {% if meeting.totalActions==0 and meeting.totalVotes==0 %}
                                            {% set v_width=0 %}
                                            {% set e_width=0 %}
                                        {% else %}
                                            {% set v_width=(meeting.weight==1? ((v_v/meeting.totalVotes)*100)|number_format(2) : ((a_v/meeting.totalActions)*100)|number_format(2) ) %}
                                            {% set e_width=(meeting.weight==1? ((v_e/meeting.totalVotes)*100)|number_format(2) : ((a_e/meeting.totalActions)*100)|number_format(2) ) %}
                                        {% endif %}
                                        <div class="vote-row" id="vote_{{ i }}">
                                            <div class="vote-box">{{ i }}</div>
                                            <div class="progress" id="progress_{{ i }}">
                                                <div class="progress-bar bg-success" data-votes="{{ v_v }}"
                                                     data-actions="{{ a_v }}" id="progressValid_{{ i }}"
                                                     title="{{ v_width }}%" role="progressbar"
                                                     style="width: {{ v_width }}%" aria-valuenow="{{ v_width }}"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                                <div class="progress-bar bg-danger" data-votes="{{ v_e }}"
                                                     data-actions="{{ a_e }}" id="progressError_{{ i }}"
                                                     title="{{ e_width }}%" role="progressbar"
                                                     style="width: {{ e_width }}%" aria-valuenow="{{ e_width }}"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    {% else %}
                                        {% set a_v=0 %} {# akcje ważne #}
                                        {% set v_v=0 %} {# głosy ważne #}
                                        {% if voting.voteStatus[i] is defined %}
                                            {% for participant in participants %}
                                                {% if participant.aid in voting.voteStatus[i] %}
                                                    {% set a_v=a_v+1 %}
                                                    {% set v_v=v_v+1 %}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% set v_v=0 %}
                                            {% set a_v=0 %}
                                        {% endif %}
                                        {% if meeting.totalActions==0 and meeting.totalVotes==0 %}
                                            {% set v_width=0 %}
                                        {% else %}
                                            {% set v_width=(meeting.weight==1? ((v_v/active.votes|length)*100)|number_format(2) : ((a_v/active.votes|length)*100)|number_format(2) ) %}
                                        {% endif %}
                                        <div class="vote-row" id="vote_{{ i }}">
                                            <div class="vote-box">{{ i }}</div>
                                            <div class="progress" id="progress_{{ i }}">
                                                <div class="progress-bar bg-success" data-votes="{{ v_v }}"
                                                     data-actions="{{ a_v }}" id="progressValid_{{ i }}"
                                                     title="{{ v_width }}%" role="progressbar"
                                                     style="width: {{ v_width }}%" aria-valuenow="{{ v_width }}"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% else %}
                        {% if voting is not null %}
                            {% set count = 1 %}
                            {% if voting.type == 2 %}
                                {% set count = voting.candidates|length %}
                            {% elseif voting.type==3 %}
                                {% set count = voting.answers|length %}
                            {% endif %}
                            {% for i,item in participants %}
                                <div class="vote-row" id="vote_{{ i }}">
                                    <div class="vote-box">{{ item.aid }}</div>
                                    {% for i in 1..count %}
                                        {% if voting.type==1 %}
                                            <div class="vote-box {% if voting.voteStatus[item.aid] is defined %}{{ voting.voteStatus[item.aid]|gm_vote_color }}{% endif %}"
                                                 id="vote_{{ item.aid }}_{{ i }}"></div>
                                        {% elseif voting.type==2 %}
                                            <div class="vote-box {% if voting.voteStatus[i][item.aid] is defined %}{{ voting.voteStatus[i][item.aid]|gm_vote_color }}{% endif %}"
                                                 id="vote_{{ item.aid }}_{{ i }}"></div>
                                        {% else %}
                                            <div class="vote-box {% if voting.voteStatus[i] is defined and item.aid in voting.voteStatus[i] %}bg-success{% endif %}"
                                                 id="vote_{{ item.aid }}_{{ i }}"></div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="presence">
                    <input type="hidden" id="votes_count" value="{{ vot }}">
                    <input type="hidden" id="actions_count" value="{{ act }}">
                    {% if voting is not null and voting.type==3 %}
                        <input type="hidden" id="actions_total" value="{{ active.votes|length }}">
                        <input type="hidden" id="votes_total" value="{{ active.votes|length }}">
                    {% else %}
                        <input type="hidden" id="actions_total"
                               value="{% if meeting.totalActions is null or meeting.totalActions==0 %}{{ t_act }}{% else %}{{ meeting.totalActions }}{% endif %}">
                        <input type="hidden" id="votes_total"
                               value="{% if meeting.totalVotes is null or meeting.totalVotes==0 %}{{ t_vot }}{% else %}{{ meeting.totalVotes }}{% endif %}">
                    {% endif %}
                    {% if active.votes is defined %}
                        <p>{% trans %}voted{% endtrans %}:
                            <span class="counter">{% if voting is not null %}{{ active.voted|length }}{% else %}{{ active.votes|length }}{% endif %}</span>/<span
                                    class="sum">{% if voting is not null %}{{ active.votes|length }}{% else %}{{ (participants|length) }}{% endif %}</span>
                        </p>
                    {% endif %}
                    <p>{% trans %}general_meeting.participants.status{% endtrans %}:</p>
                    <p>
                        {% if meeting.weight==1 %}
                            {% set percent = ((vot/t_vot)*100)|number_format(2) %}
                            <span id="vot_span">{{ vot }}</span> {% trans with { '%per%':'<span id="vot_span_total">'~percent~'</span>', '%tot%': t_vot} %}general_meeting.voting.actual_status.votes{% endtrans %}
                        {% else %}
                            {% set percent = ((act/t_act)*100)|number_format(2) %}
                            <span id="act_span">{{ act }}</span> {% trans with { '%per%':'<span id="vot_span_total">'~percent~'</span>', '%tot%': t_act} %}general_meeting.voting.actual_status.actions{% endtrans %}
                        {% endif %}
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ include('general_meeting/vote_scripts.html.twig',{meeting:meeting}) }}
{% endblock %}