{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row form-group">
        <div class="col-12 col-sm-4 col-form-label">
            {{ 'general_meeting.voting.content'|info_icon}}
            {{ 'general_meeting.voting.content'|help_icon}}
            {{form_label(form.content)}}
        </div>
        <div class="col-12 col-sm-8 d-flex">
            {{ form_widget(form.content) }}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-12 col-sm-4 col-form-label">
            {{ 'general_meeting.voting.type'|info_icon}}
            {{ 'general_meeting.voting.type'|help_icon}}
            {{form_label(form.type)}}
        </div>
        <div class="col-12 col-sm-8 d-flex">
            {{ form_widget(form.type) }}
        </div>
    </div>
    <div class="row form-group weight d-none">
        <div class="col-12 col-sm-4 col-form-label">
            {{ 'general_meeting.choose_type_weight'|info_icon}}
            {{ 'general_meeting.choose_type_weight'|help_icon}}
            {{form_label(form.weight)}}
        </div>
        <div class="col-12 col-sm-8 d-flex">
            {{ form_widget(form.weight) }}
        </div>
    </div>
    <div class="row form-group toChoose d-none">
        <div class="col-12 col-sm-4 col-form-label">
            {{ 'general_meeting.voting.tochoose'|info_icon}}
            {{ 'general_meeting.voting.tochoose'|help_icon}}
            {{form_label(form.tochoose)}}
        </div>
        <div class="col-12 col-sm-8 d-flex">
            {{ form_widget(form.tochoose) }}
            <span id="toChooseCountSpan" class="font-weight-bold text-primary ml-2 mt-1 valueSpan">20</span>
        </div>
    </div>
    <div class="candidates d-none">
        {% for key,candidate in form.candidates %}
            <div class="row form-group candidate">
                {% for child in candidate.children %}
                    <div class="col-12 col-sm-4 col-form-label">
                        {{ 'general_meeting.voting.candidates'|info_icon}}
                        {{ 'general_meeting.voting.candidates'|help_icon}}
                        {{ form_label(child,child.vars.label) }} {{ (key+1) }}
                    </div>
                    <div class="col-12 col-sm-8">
                        {{ form_widget(child) }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="row form-group answers">
            <div class="col-12 col-sm-4 col-form-label">
                {{ 'general_meeting.voting.multiple_choise'|info_icon}}
                {{ 'general_meeting.voting.multiple_choise'|help_icon}}
                {{form_label(form.multiChoose)}}
            </div>
            <div class="col-12 col-sm-8">
                <div class="custom-control custom-switch">
                    <input type="checkbox" {% if form.multiChoose.vars.checked %}checked{% endif%} name="{{ form.multiChoose.vars.full_name }}"
                           class="custom-control-input" id="{{ form.multiChoose.vars.id }}" value="{{ form.multiChoose.vars.value }}">
                    <label class="custom-control-label" for="{{ form.multiChoose.vars.id }}">{{ form.multiChoose.vars.label|trans }}</label>
                </div>
            </div>
    </div>

    <div class="answers d-none">
        {% for key,answer in form.answers %}
            <div class="row form-group answer">
                {% for child in answer.children %}
                    {% if child.vars.name=="valid" %}
                        <div class="col-12 col-sm-4 col-form-label">
                            {{form_label(child)}}
                        </div>
                        <div class="col-12 col-sm-8">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" {% if child.vars.checked %}checked{% endif%} name="{{ child.vars.full_name }}"
                                       class="custom-control-input" id="{{ child.vars.id }}" value="{{ child.vars.value }}">
                                <label class="custom-control-label" for="{{ child.vars.id }}">{{ child.vars.label|trans }}</label>
                            </div>
                        </div>
                    {% else %}
                    <div class="col-12 col-sm-4 col-form-label">
                        {{ 'general_meeting.voting.answers'|info_icon}}
                        {{ 'general_meeting.voting.answers'|help_icon}}
                        {{ form_label(child,child.vars.label) }} {{ (key+1) }}
                    </div>
                    <div class="col-12 col-sm-8">
                        {{ form_widget(child) }}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    {% if form.vars.value.id is null %}
    <div class="row form-group">
        <div class="col-12 col-sm-4 col-form-label">
            {{ 'general_meeting.voting.add_next'|info_icon}}
            {{ 'general_meeting.voting.add_next'|help_icon}}
            {{form_label(form.add_next)}}
        </div>
        <div class="col-12 col-sm-8">
            <div class="custom-control custom-switch">
                <input type="checkbox" {% if form.add_next.vars.checked %}checked{% endif%} {% if form.add_next.vars.disabled %}disabled{% endif%} name="{{ form.add_next.vars.full_name }}"
                       class="custom-control-input" id="{{ form.add_next.vars.id }}" value="{{ form.add_next.vars.value }}">
                <label class="custom-control-label" for="{{ form.add_next.vars.id }}">{{ form.add_next.vars.label|trans }}</label>
            </div>
        </div>
    </div>
    {% endif %}

    {{ form_row(form._token) }}
    {{ form_row(form.submit) }}
    {#{{ form_end(form,{render_rest:false}) }}#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#toChooseCountSpan').html($('#meeting_voting_tochoose').val());
            meetingChange($('#meeting_voting_type').val());
            $('#meeting_voting_tochoose').on('change',function () {
                $('#toChooseCountSpan').html($(this).val());
            });

            $('#meeting_voting_type').on('change',function (){
              meetingChange($(this).val());
            });

            function meetingChange(value) {
                if(value==="1")
                {
                    $('.answers').addClass('d-none');
                    $('.candidates').addClass('d-none');
                    $('.toChoose').addClass('d-none');
                    $('.candidates input').prop('disabled',true);
                    $('.answers input').prop('disabled',true);
                    $('#meeting_voting_submit').prop('disabled',false);
                    $('.weight').removeClass('d-none');
                }else if(value==="2"){
                    $('.answers').addClass('d-none');
                    $('.candidates').removeClass('d-none');
                    $('.toChoose').removeClass('d-none');
                    $('.candidates input').prop('disabled',false);
                    $('.answers input').prop('disabled',true);
                    $('#meeting_voting_submit').prop('disabled',false);
                    $('.weight').removeClass('d-none');
                }else if(value==="3")
                {
                    $('.answers').removeClass('d-none');
                    $('.candidates').addClass('d-none');
                    $('.toChoose').addClass('d-none');
                    $('.candidates input').prop('disabled',true);
                    $('.answers input').prop('disabled',false);
                    $('#meeting_voting_submit').prop('disabled',false);
                    $('.weight').addClass('d-none');
                }else{
                    $('.answers').addClass('d-none');
                    $('.candidates').addClass('d-none');
                    $('.toChoose').addClass('d-none');
                    $('.candidates input').prop('disabled',true);
                    $('.answers input').prop('disabled',true);
                    $('#meeting_voting_submit').prop('disabled',true);
                    $('.weight').addClass('d-none');
                }
            }

            var $collectionCandidatesHolder;
            var $collectionAnswersHolder;
            var $addCandidateButton = $('<button type="button" class="add_candidate_link btn btn-light">{% trans %}general_meeting.add_candidate{% endtrans %}</button>');
            var $addAnswerButton = $('<button type="button" class="add_answer_link btn btn-light">{% trans %}add_answer{% endtrans %}</button>');
            var $newLinkCLi = $('<div></div>').append($addCandidateButton);
            var $newLinkQLi = $('<div></div>').append($addAnswerButton);

            jQuery(document).ready(function() {
                // Get the ul that holds the collection of tags
                $collectionCandidatesHolder = $('div.candidates');
                $collectionAnswersHolder = $('div.answers');

                $collectionCandidatesHolder.append($newLinkCLi);
                $collectionAnswersHolder.append($newLinkQLi);

                $collectionCandidatesHolder.find('div.candidate').each(function() {
                    addCandidateFormDeleteLink($(this));
                });
                $collectionAnswersHolder.find('div.answer').each(function() {
                    addAnswerFormDeleteLink($(this));
                });
                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)
                $collectionCandidatesHolder.data('index', $collectionCandidatesHolder.find('input[type=text]').length);
                $collectionAnswersHolder.data('index', $collectionAnswersHolder.find('input[type=text]').length);

                $('body').on('click','.add_candidate_link', function(e) {
                    addCandidateForm($collectionCandidatesHolder, $newLinkCLi);
                });
                $('body').on('click','.add_answer_link', function(e) {
                    addAnswerForm($collectionAnswersHolder, $newLinkQLi);
                });

                function addCandidateForm($collectionCandidatesHolder, $newLinkCLi) {
                    // Get the data-prototype explained earlier
                    var prototype = $('.candidate:first').clone();

                    // get the new index
                    var index = $collectionCandidatesHolder.data('index');
                    $collectionCandidatesHolder.data('index', index + 1);
                    var newForm=$(prototype).html().replace(/0/g,index).replace(/ 1/g," "+(index+1));
                    //$(newForm).find('input[type=checkbox]').prop('checked',false);

                    var $newFormCLi = $('<div class="row form-group candidate"></div>').append(newForm);
                    $newLinkCLi.before($newFormCLi);
                    $('.candidate:last').find('input[type=text]').val('')
                    $('.candidate:last').find('input[type=checkbox]').prop('checked',false)
                    //addAnswerFormDeleteLink($newFormLi);
                    var len=$('.candidate').length;
                    $('#meeting_voting_tochoose').attr('max',len);
                    if(len===6)
                    {
                        $addCandidateButton.prop('disabled',true);
                    }
                    $('.removeCandidateButton').prop('disabled',false);
                }

                function addCandidateFormDeleteLink($tagFormLi) {
                    var $removeFormButton = $('<button class="btn btn-dark removeCandidateButton" disabled type="button" title="{% trans %}general_meeting.remove_candidate{% endtrans %}">&times;</button>');
                    $tagFormLi.append($removeFormButton);

                    $('body').on('click','.removeCandidateButton', function(e) {
                        $(this).parent().remove();
                        var len=($('.candidate').length);
                        $('#meeting_voting_tochoose').attr('max',len).trigger('change');

                        if(len<3)
                        {
                            $('.removeCandidateButton').prop('disabled',true);
                        }
                        $addCandidateButton.prop('disabled',false);
                    });
                }

                function addAnswerForm($collectionAnswerHolder, $newLinkQLi) {
                    // Get the data-prototype explained earlier
                    var prototype = $('.answer:first').clone();

                    // get the new index
                    var index = $collectionAnswerHolder.data('index');

                    $collectionAnswerHolder.data('index', index + 1);
                    var newForm=$(prototype).html().replace(/0/g,index).replace(/ 1/g," "+(index+1));;
                    $(newForm).find('input[type=checkbox]').prop('checked',false);

                    var $newFormQLi = $('<div class="row form-group answer"></div>').append(newForm);
                    $newLinkQLi.before($newFormQLi);
                    $('.answer:last').find('input[type=text]').val('')
                    $('.answer:last').find('input[type=checkbox]').prop('checked',false)
                    //addAnswerFormDeleteLink($newFormLi);
                    var len=$('.answer').length;
                    if(len===6)
                    {
                        $addAnswerButton.prop('disabled',true);
                    }
                    $('.removeAnswerButton').prop('disabled',false);
                }

                function addAnswerFormDeleteLink($tagFormLi) {
                    var $removeFormButton = $('<button class="btn btn-dark removeAnswerButton" disabled type="button" title="{% trans %}remove_answer{% endtrans %}">&times;</button>');
                    $tagFormLi.append($removeFormButton);

                    $('body').on('click','.removeAnswerButton', function(e) {
                        $(this).parent().remove();
                        var len=($('.answer').length);
                        if(len<3)
                        {
                            $('.removeAnswerButton').prop('disabled',true);
                        }
                        $addAnswerButton.prop('disabled',false);
                    });
                }
            });
        })
    </script>
    <style>
        .answer,.candidate{
            position: relative;
            padding: 10px 10px 10px 0;
        }
        .candidate{
            position: relative;
            padding: 25px 25px 25px 0;
        }
        .removeAnswerButton,.removeCandidateButton{
            position: absolute;
            bottom:0;
            right: 0;
        }
    </style>
{% endblock %}