{% extends 'base.html.twig' %}

{% block title %}{% trans %}general_meeting.text{% endtrans %}: {{ meeting.name }}{% endblock %}

{% block body %}

    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-info">
                    <h4>{% trans %}profile.your_data{% endtrans %}:</h4>
                    <p class="mb-0">{% trans %}id{% endtrans %}: <strong>{{ participant.aid }}</strong></p>
                    <p class="mb-0">{% trans %}full_name{% endtrans %}: <strong>{{ participant.name }}</strong></p>
                    <p class="mb-0">{% trans %}email.address{% endtrans %}: <strong>{{ participant.email }}</strong></p>
                    <p class="mb-0">{% trans %}votes_count{% endtrans %}: <strong>{{ participant.votes }}</strong></p>
                    <p class="mb-0">{% trans %}actions_count{% endtrans %}: <strong>{{ participant.actions }}</strong></p>
                </div>
            </div>
        </div>
        {% if meeting.status==0 %}
            <h3 class="text-center">{% trans %}general_meeting.waiting_for_start{% endtrans %}</h3>

            {% elseif meeting.status==1 %}
                {% if meeting.kworum and active.last==0 and active.kworum is not null %}
                    {% if active.kworum %}
                    <div class="alert alert-success">
                        <p class="font-weight-bold mb-0">{% trans %}general_meeting.kworum.reached{% endtrans %}</p>
                    </div>
                    {% else %}
                        <div class="alert alert-danger">
                            <p class="font-weight-bold mb-0">{% trans %}general_meeting.kworum.not_reached{% endtrans %}</p>
                        </div>
                    {% endif %}
                {% endif %}


                {% if active.active is null %}
                    <h3 class="text-center">{% trans %}general_meeting.waiting_for_voting{% endtrans %}</h3>

                    {% if last is not null %}
                    <div class="last-voting-results mt-3">
                        <p class="text-center mb-2">{% trans %}general_meeting.last_voting_result{% endtrans %}</p>
                        <h4 class="text-center">{{ last.content }} </h4>

                        {% if last.type==1 %}
                            <p class="mb-0 font-weight-bold text-center">
                                {% if last.weight==1 %}
                                    {% if last.votesSummary['votes']['accepted'] %}
                                        {% trans %}accepted{% endtrans %}
                                    {% else %}
                                        {% trans %}rejected{% endtrans %}
                                    {% endif %}
                                {% else %}
                                    {% if last.votesSummary['actions']['accepted'] %}
                                        {% trans %}accepted{% endtrans %}
                                    {% else %}
                                        {% trans %}rejected{% endtrans %}
                                    {% endif %}
                                {% endif %}
                            </p>
                            <p class="mb-0">{% trans %}on{% endtrans %}: {% if last.weight==1 %}{{ last.votesSummary['votes'][1] }}{% else %}{{ last.votesSummary['actions'][1] }}{% endif %}%</p>
                            <p class="mb-0">{% trans %}against{% endtrans %}: {% if last.weight==1 %}{{ last.votesSummary['votes'][0] }}{% else %}{{ last.votesSummary['actions'][0] }}{% endif %}%</p>
                            {% if meeting.holdBack %}
                                <p class="mb-0">{% trans %}hold_off{% endtrans %}: {% if last.weight==1 %}{{ last.votesSummary['votes'][2] }}{% else %}{{ last.votesSummary['actions'][2] }}{% endif %}%</p>
                            {% endif %}
                        {% elseif last.type==2 %}
                            {% if last.votesSummary['valid'] is defined %}
                                {% set lp=0 %}
                                {% if last.weight==1 %}
                                    {% for key,vote in last.votesSummary['valid']['votes'] %}
                                        <p class="mb-1">
                                            {{ last.candidates[key].name }} -
                                            <span class="{% if lp < last.toChoose and vote>0 %}bg-success {% endif %}votes-span">{{ vote|number_format(2) ~ '%'}}</span>
                                        </p>
                                        {% set lp=lp+1 %}
                                    {% endfor %}
                                {% else %}
                                    {% for key,vote in last.votesSummary['valid']['actions'] %}
                                        <p class="mb-1">
                                            {{ last.candidates[key].name }} -
                                            <span class="{% if lp < last.toChoose and vote>0 %}bg-success {% endif %}votes-span">{{ vote|number_format(2) ~ '%'}}</span>
                                        </p>
                                    {% endfor %}
                                    {% set lp=lp+1 %}
                                {% endif %}
                                    <p class="small">{% trans %}general_meeting.voting.invalid_votes_count{% endtrans %}: {{ last.votesSummary['invalid'] }} </p>
                            {% endif %}
                            {% else %}
                                    {% for key,vote in last.votesSummary %}
                                        <p class="mb-0 {% if last.answers[key].valid %}text-success font-weight-bold{% endif %}">{{ last.answers[key].content ~' - '~ vote ~ '%' }}</p>
                                    {% endfor %}
                        {% endif %}
                    </div>
                    {% endif %}
                {% else %}
                <div class="row">
                    <div class="col-12 col-md-6 order-0 order-md-2">
                        <div class="votes mt-3">
                            <div class="vote-row">
                                <div class="vote-box"></div>
                                <div class="vote-box font-weight-bold">
                                    {{ participant.aid }}
                                </div>
                            </div>
                            {% if active.active is null or active.active==0 %}
                            {% for i in 0..0 %}
                                <div class="vote-row" id="vote_{{ i }}">
                                    <div class="vote-box">T</div>
                                        <div class="vote-box {%if active.votes[participant.aid] is defined %}{{active.votes[participant.aid]|gm_vote_color}}{% endif %}" id="vote_{{ participant.aid }}_{{ i }}"></div>
                                </div>
                            {% endfor %}
                            {% endif %}
                            {% if voting is not null %}
                                {% set count = 1 %}
                                {% if voting.type == 2 %}
                                    {% set count = voting.candidates|length %}
                                {% elseif voting.type==3 %}
                                    {% set count = voting.answers|length %}
                                {% endif %}
                                {% for i in 1..count %}
                                    <div class="vote-row" id="vote_{{ i }}">
                                        <div class="vote-box">{{ i }}</div>
                                        {% if voting.type==1 %}
                                        <div class="vote-box {%if voting.voteStatus[participant.aid] is defined %}{{voting.voteStatus[participant.aid]|gm_vote_color}}{% endif %}" id="vote_{{ participant.aid }}_{{ i }}">
                                            </div>
                                        {% elseif voting.type==2 %}
                                            <div class="vote-box {%if voting.voteStatus[i][participant.aid] is defined %}{{voting.voteStatus[i][participant.aid]|gm_vote_color}}{% endif %}" id="vote_{{participant.aid }}_{{ i }}"></div>
                                            {% else %}
                                            <div class="vote-box {%if voting.voteStatus[i] is defined and participant.aid in voting.voteStatus[i] %}bg-success{% endif %}" id="vote_{{ participant.aid }}_{{ i }}"></div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-2 order-md-0">
                    {% if meeting.activeStatusArray.active==0 %}
                        <h2>{% trans %}general_meeting.voting.presence.text{% endtrans %}</h2>
                    {% if meeting.kworum %}
                    <p>{% trans %}general_meeting.voting.presence.please_confirm{% endtrans %}</p>
                    <div class="btn-group btn-group-lg w-100">
                        <button class="btn btn-success btn-vote btn-block" {% if active.votes[participant.aid] is defined%}disabled{% endif%} data-vote="1">{% trans %}general_meeting.voting.presence.confirm{% endtrans %}</button>
                    </div>
                        {% else %}
                        <p>{% trans %}general_meeting.voting.presence.click_to_confirm{% endtrans %}</p>
                        <div class="btn-group btn-group-lg">
                            <button class="btn btn-success btn-vote" {% if active.votes[participant.aid] is defined%}disabled{% endif%} data-vote="1">{% trans %}on{% endtrans %}</button>
                            <button class="btn btn-danger btn-vote" {% if active.votes[participant.aid] is defined%}disabled{% endif%} data-vote="0">{% trans %}against{% endtrans %}</button>
                            {% if meeting.holdBack %}
                                <button class="btn btn-warning btn-vote" {% if active.votes[participant.aid] is defined%}disabled{% endif%} data-vote="2">{% trans %}general_meeting.voting.hold_off{% endtrans %}</button>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% else %}
                    <div class="pt-2">
                    {% if meeting.secret or voting.secret %}
                        <p class="font-weight-bold mb-0">{{ 'general_meeting.secret_voting'|trans }}</p>
                        {% endif %}
                    <p class="mb-0">
                        {% if voting.weight == 1 %}
                            {{ 'weight.votes'|trans }}
                        {% else %}
                            {{ 'weight.actions'|trans }}
                        {% endif %}
                    </p>
                    </div>


                        <h2>{{ voting.content }}</h2>
                    {{ dump(voting.type) }}
                            {% if voting.type==1 %}
                                    <ul class="list-group mb-2 vote-ul">
                                        {% set voted=false %}
                                        <input name="vote[]" type="checkbox"
                                                {% if voting.voteStatus[participant.aid] is defined%}
                                                    {% set voted=true %}
                                                    checked
                                                {% endif %}
                                               value="1" class="d-none" id="vote_1">
                                        <label class="list-group-item list-group-item-action mb-0 border-success" for="vote_1">{% trans %}on{% endtrans %}</label>

                                        <input name="vote[]" type="checkbox"
                                                {% if voting.voteStatus[participant.aid] is defined%}
                                                    {% set voted=true %}
                                                    checked
                                                {% endif %}
                                               value="0" class="d-none" id="vote_0">
                                        <label class="list-group-item list-group-item-action mb-0 border-danger" for="vote_0">{% trans %}against{% endtrans %}</label>

                                        {% if meeting.holdBack %}
                                            <input name="vote[]" type="checkbox"
                                                    {% if voting.voteStatus[participant.aid] is defined%}
                                                        {% set voted=true %}
                                                        checked
                                                    {% endif %}
                                                   value="2" class="d-none" id="vote_2">
                                            <label class="list-group-item list-group-item-action mb-0 border-warning" for="vote_2">{% trans %}general_meeting.voting.hold_off{% endtrans %}</label>
                                        {% endif %}

                                    </ul>
                                    <div class="btn-group btn-group-lg">
                                        <button class="btn btn-success btn-vote" {% if voting.voteStatus[participant.aid] is defined%}disabled{% endif%} data-vote="1">{% trans %}on{% endtrans %}</button>
                                        <button class="btn btn-danger btn-vote" {% if voting.voteStatus[participant.aid] is defined%}disabled{% endif%} data-vote="0">{% trans %}against{% endtrans %}</button>
                                        {% if meeting.holdBack %}
                                            <button class="btn btn-warning btn-vote" {% if voting.voteStatus[participant.aid] is defined%}disabled{% endif%} data-vote="2">{% trans %}general_meeting.voting.hold_off{% endtrans %}</button>
                                        {% endif %}
                                    </div>
                                {% elseif voting.type==2 %}
                                    <p>{% trans with { '%count%': voting.toChoose, '%all%': voting.candidates|length} %}general_meeting.voting.available_choices_count{% endtrans %}</p>
                                    <form id="voteCandidateForm" data-warned="false" data-warning="{% trans with { '%count%':voting.toChoose} %}general_meeting.voting.available_choices_count_to_valid{% endtrans %}">
                                        <ul class="list-group mb-2 vote-ul">
                                            {% set voted=false %}
                                            {% for key,candidate in voting.candidates %}
                                                <input name="vote[]"
                                                       type="checkbox"
                                                        {% if voting.voteStatus[(key+1)][participant.aid] is defined %}
                                                            {% set voted=true %}
                                                            checked
                                                        {% endif %}
                                                       value="{{ (key+1) }}" class="d-none" id="candidate_{{ (key+1) }}">
                                                <label class="list-group-item list-group-item-action mb-0" for="candidate_{{ (key+1) }}">{{ candidate.name }}</label>
                                            {% endfor %}
                                        </ul>
                                        <button type="submit" class="btn btn-outline-primary" {% if voted %}disabled{% endif %}>{% trans %}vote.text{% endtrans %}</button>
                                    </form>
                                    <script>
                                    {% if voted %}
                                    $('#voteCandidateForm input').prop('disabled',true);
                                    {% else %}
                                    $('#voteCandidateForm input').prop('checked',false);
                                    {% endif %}
                                    </script>
                                {% else %}
                                    {% if voting.multiChoose %}
                                        <p>{% trans %}general_meeting.voting.multi_choice{% endtrans %}</p>
                                    {% endif %}
                                    <form id="voteAnswerForm">
                                        <ul class="list-group mb-2 vote-ul">
                                            {% set voted=false %}
                                            {% for key,answer in voting.answers %}
                                                <input name="vote[]"
                                                       type="{% if voting.multiChoose %}checkbox{% else %}radio{% endif %}"
                                                        {% if voting.voteStatus[(key+1)] is defined and participant.aid in voting.voteStatus[(key+1)] %}
                                                            {% set voted=true %}
                                                            checked
                                                        {% endif %}
                                                       value="{{ (key+1) }}" class="d-none" id="answer_{{ (key+1) }}">
                                                <label class="list-group-item list-group-item-action mb-0" for="answer_{{ (key+1) }}">{{ answer.content }}</label>
                                            {% endfor %}
                                        </ul>
                                        <button type="submit" class="btn btn-outline-primary" {% if voted %}disabled{% endif %}>{% trans %}vote.text{% endtrans %}</button>
                                    </form>
                                    <script>
                                    {% if voted %}
                                        $('#voteAnswerForm input').prop('disabled',true);
                                    {% else %}
                                        $('#voteAnswerForm input').prop('checked',false);
                                    {% endif %}
                                    </script>
                                {% endif %}
                    {% endif %}
                {% endif %}
                </div>
                </div>
                {% else %}
                    <div class="alert alert-info">
                        <h4>{% trans %}general_meeting.ended{% endtrans %}</h4>
                        <p>{% trans %}general_meeting.thanks_for_participation{% endtrans %}</p>
                    </div>
                    <div class="row">
                        <div class="col-6"><h4>{% trans %}general_meeting.voting_results{% endtrans %}</h4></div>
                        <div class="col-6 text-right">
                            {% if meeting.resultsForParticipants %}
                            <a class="btn btn-outline-dark btn-sm" href="{{ path('general_meeting_results_pdf',{slug:meeting.slug})}}">{% trans %}general_meeting.voting.get_votes.button{% endtrans %}</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="voting-list mb-2">
                        <div class="row text-center font-weight-bold border align-items-center h-60px">
                            <div class="col-6 pt-3 border-right h-100">{% trans %}voting{% endtrans %}:</div>
                            <div class="col-6 pt-3 border-right h-100">{% trans %}result{% endtrans %}:</div>
                        </div>
                        {% for voting in meeting.meetingVotings %}
                            <div class="row border-bottom border-left">
                                <div class="col-6 py-1 border-right">{{ voting.content }} - {{ voting|voting_type(false) }}</div>
                                <div class="col-6 py-1 border-right">
                                    {% if voting.votesSummary is not empty %}
                                        {% if voting.type==1 %}
                                            <p class="mb-0 font-weight-bold text-center">
                                                {% if voting.weight==1 %}
                                                    {% if voting.votesSummary['votes']['accepted'] %}
                                                        {% trans %}accepted{% endtrans %}
                                                    {% else %}
                                                        {% trans %}rejected{% endtrans %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if voting.votesSummary['actions']['accepted'] %}
                                                        {% trans %}accepted{% endtrans %}
                                                    {% else %}
                                                        {% trans %}rejected{% endtrans %}
                                                    {% endif %}
                                                {% endif %}
                                            </p>
                                            <p class="mb-0">{% trans %}on{% endtrans %}: {% if voting.weight==1 %}{{ voting.votesSummary['votes'][1] }}{% else %}{{ voting.votesSummary['actions'][1] }}{% endif %}%</p>
                                            <p class="mb-0">{% trans %}against{% endtrans %}: {% if voting.weight==1 %}{{ voting.votesSummary['votes'][0] }}{% else %}{{ voting.votesSummary['actions'][0] }}{% endif %}%</p>
                                            {% if meeting.holdBack %}
                                                <p class="mb-0">{% trans %}hold_off{% endtrans %}: {% if voting.weight==1 %}{{ voting.votesSummary['votes'][2] }}{% else %}{{ voting.votesSummary['actions'][2] }}{% endif %}%</p>
                                            {% endif %}
                                        {% elseif voting.type==2 %}
                                            {% if voting.votesSummary['valid'] is defined %}
                                                {% set lp=0 %}
                                                {% if voting.weight==1 %}
                                                    {% for key,vote in voting.votesSummary['valid']['votes'] %}
                                                        <p class="mb-1">
                                                            {{ voting.candidates[key].name }} -
                                                            <span class="{% if lp < voting.toChoose and vote>0 %}bg-success {% endif %}votes-span" title="{% trans %}general_meeting.voting.valid_votes{% endtrans %}">{{ vote|number_format(2) ~ '%'}}</span>
                                                        </p>
                                                        {% set lp=lp+1 %}
                                                    {% endfor %}
                                                {% else %}
                                                    {% for key,vote in voting.votesSummary['valid']['actions'] %}
                                                        <p class="mb-1">
                                                            {{ voting.candidates[key].name }} -
                                                            <span class="{% if lp < voting.toChoose and vote>0 %}bg-success {% endif %}votes-span" title="{% trans %}general_meeting.voting.valid_votes{% endtrans %}">{{ vote|number_format(2) ~ '%'}}</span>
                                                        </p>
                                                        {% set lp=lp+1 %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}
                                                <p class="small">{% trans %}general_meeting.voting.invalid_votes_count{% endtrans %}: {{ voting.votesSummary['invalid'] }} </p>
                                        {% else %}
                                                {% for key,vote in voting.votesSummary %}
                                                    <p class="mb-0 {% if voting.answers[key].valid %}text-success font-weight-bold{% endif %}">{{ voting.answers[key].content ~' - '~ vote ~ '%' }}</p>
                                                {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{{ include('general_meeting/vote_scripts.html.twig',{participant:participant,hash:hash,}) }}

{% endblock %}