{% if voting.type==1 %}
    <p class="mb-0 font-weight-bold text-center">
        {% if voting.weight==1 %}
            {% if votesSummary['votes']['accepted'] %}
                {% trans %}accepted{% endtrans %}
            {% else %}
                {% trans %}declined{% endtrans %}
            {% endif %}
        {% else %}
            {% if votesSummary['actions']['accepted'] %}
                {% trans %}accepted{% endtrans %}
            {% else %}
                {% trans %}declined{% endtrans %}
            {% endif %}
        {% endif %}
    </p>
    <p class="mb-0">{% trans %}on{% endtrans %}: {% if voting.weight==1 %}{{ votesSummary['votes'][1] }}{% else %}{{ votesSummary['actions'][1] }}{% endif %}%</p>
    <p class="mb-0">{% trans %}against{% endtrans %}: {% if voting.weight==1 %}{{ votesSummary['votes'][0] }}{% else %}{{ votesSummary['actions'][0] }}{% endif %}%</p>
    {% if meeting.holdBack %}
        <p class="mb-0">{% trans %}hold_off{% endtrans %}: {% if voting.weight==1 %}{{ votesSummary['votes'][2] }}{% else %}{{ votesSummary['actions'][2] }}{% endif %}%</p>
    {% endif %}
{% elseif voting.type==2 %}
    {% if votesSummary['valid'] is defined %}
        {% set lp=0 %}
        {% if voting.weight==1 %}
            {% for key,vote in votesSummary['valid']['votes'] %}
                <p class="mb-2">
                    {{ voting.candidates[key].name }} -
                    <span class="{% if lp < voting.toChoose and vote>0 %}bg-success {% endif %}votes-span">{{ vote|number_format(2) ~ '%'}}</span>
                </p>
                {% set lp=lp+1 %}
            {% endfor %}
        {% else %}
            {% for key,vote in votesSummary['valid']['actions'] %}
                <p class="mb-2">
                    {{ voting.candidates[key].name }} -
                    <span class="{% if lp < voting.toChoose and vote>0 %}bg-success {% endif %}votes-span">{{ vote|number_format(2) ~ '%'}}</span>
                </p>
                {% set lp=lp+1 %}
            {% endfor %}
        {% endif %}
        {% if votesSummary['invalid'] is not iterable %}
            <p class="small">{% trans %}general_meeting.voting.invalid_votes_count{% endtrans %}: {{ votesSummary['invalid'] }} </p>
        {% endif %}
    {% endif %}
{% else %}
        {% for key,vote in votesSummary %}
            <p class="mb-0 {% if voting.answers[key].valid %}text-success font-weight-bold{% endif %}">{{ voting.answers[key].content ~' - '~ vote|number_format(2) ~ '%' }}</p>
        {% endfor %}
{% endif %}