{% extends 'base.html.twig' %}

{% block title %}{% trans %}Dodaj kandydatów{% endtrans %}{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <div class="resolutions">
        {% for key,candidate in form.candidates %}
            <div class="row form-group answer">
                {% for child in candidate.children %}
                    <div class="col-12 col-sm-3 col-form-label">
                        {{ form_label(child,child.vars.label~" "~(key+1)) }}
                    </div>
                    <div class="col-12 col-sm-9">
                        {{ form_widget(child) }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    {{ form_row(form._token) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}