{% extends 'base.html.twig' %}

{% block title %}{% trans %}Walne zgromadzenie{% endtrans %}: {{ meeting.name }}{% endblock %}

{% block body %}

    <div>
        {% if meeting.status==0 %}
            <h3 class="text-center">{% trans %}Oczekiwanie na rozpoczęcie Walnego zgromadzenia{% endtrans %}</h3>
            {% elseif meeting.status==1 %}
                <div class="row">
                {% if active.active is not defined or active.active is null %}
                    <div class="col-12">
                        <h3 class="text-center">{% trans %}Oczekiwanie na aktywowanie pytania przez organizatora{% endtrans %}</h3>
                        {% if meeting.variant==1 %}
                        {% if active.last >0 and active.last is not null %}
                            <p>{% trans %}Poprzednie głosowanie{% endtrans %}</p>
                            <h4>{{ meeting.resolutions[active.last-1].content }}</h4>

                            <div class="row">
                                <div class="col-12 d-inline-flex mb-2">
                                    <div class="vote-box bg-success mr-2"></div>
                                        {% trans %}Za{% endtrans %} -
                                    {% if meeting.weight==1 %}
                                        {{ meeting.resolutions[active.last-1].votesOnCount.actions }}
                                        {% trans %}co stanowi {% endtrans %}
                                        {{ ((meeting.resolutions[active.last-1].votesOnCount.actions/meeting.totalActions)*100)|number_format(2,".","") }}%
                                    {% else %}
                                        {{ meeting.resolutions[active.last-1].votesOnCount.votes }}
                                        {% trans %}co stanowi {% endtrans %}
                                        {{ ((meeting.resolutions[active.last-1].votesOnCount.votes/meeting.totalVotes)*100)|number_format(2,".","") }}%
                                    {% endif %}
                                </div>
                                <div class="col-12 d-inline-flex mb-2">
                                    <div class="vote-box bg-danger mr-2"></div>
                                    {% trans %}Przeciw{% endtrans %} -
                                    {% if meeting.weight==1 %}
                                        {{ meeting.resolutions[active.last-1].votesAgainstCount.actions }}
                                        {% trans %}co stanowi {% endtrans %}
                                        {{ ((meeting.resolutions[active.last-1].votesAgainstCount.actions/meeting.totalActions)*100)|number_format(2,".","") }}%
                                    {% else %}
                                        {{ meeting.resolutions[active.last-1].votesAgainstCount.votes }}
                                        {% trans %}co stanowi {% endtrans %}
                                        {{ ((meeting.resolutions[active.last-1].votesAgainstCount.votes/meeting.totalVotes)*100)|number_format(2,".","") }}%
                                    {% endif %}
                                </div>
                                {% if meeting.holdBack %}
                                <div class="col-12 d-inline-flex mb-2">
                                    <div class="vote-box bg-warning mr-2"></div>
                                    {% trans %}Wstrzymuje się{% endtrans %} -
                                    {% if meeting.weight==1 %}
                                        {{ meeting.resolutions[active.last-1].votesHoldCount.actions }}
                                        {% trans %}co stanowi {% endtrans %}
                                        {{ ((meeting.resolutions[active.last-1].votesHoldCount.actions/meeting.totalActions)*100)|number_format(2,".","") }}%
                                    {% else %}
                                        {{ meeting.resolutions[active.last-1].votesHoldCount.votes }}
                                        {% trans %}co stanowi {% endtrans %}
                                        {{ ((meeting.resolutions[active.last-1].votesHoldCount.votes/meeting.totalVotes)*100)|number_format(2,".","") }}%
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% else %}

                        {% endif %}
                    </div>
                {% else %}
                    <div class="col-12 col-lg-6">
                        {% if active.active==0 %}
                        <h2>{% trans %}Sprawdzanie obecności{% endtrans %}</h2>
                    <p>{% trans %}Aby potwierdzić swoją obecność kliknij dowolny przycisk{% endtrans %}</p>
                            {% else %}
                                {% if meeting.variant==1 %}
                                <h2>{{ meeting.resolutions[(active.active-1)].content }}</h2>
                                    {% else %}
                                        <h2>{{ active.title }} - {% trans with {'%turn%':active.turn} %}%turn% tura{% endtrans %}</h2>
                                    {% endif %}
                        {% endif %}
                        {% if meeting.variant==1 %}
                    <div class="btn-group btn-group-lg">
                        <button class="btn btn-success btn-vote" {% if active.votes[active.active][participant.aid] is defined%}disabled{% endif%} data-vote="1">{% trans %}Za{% endtrans %}</button>
                        <button class="btn btn-danger btn-vote" {% if active.votes[active.active][participant.aid] is defined%}disabled{% endif%} data-vote="0">{% trans %}Przeciw{% endtrans %}</button>
                        {% if meeting.holdBack %}
                            <button class="btn btn-warning btn-vote" {% if active.votes[active.active][participant.aid] is defined%}disabled{% endif%} data-vote="2">{% trans %}Wstrzymuje się{% endtrans %}</button>
                        {% endif %}
                    </div>
                        {% else %}

                            {% if active.active ==0 %}
                                <div class="btn-group btn-group-lg">
                                    <button class="btn btn-success btn-vote" {% if active.votes[active.active][participant.aid] is defined%}disabled{% endif%} data-vote="1">{% trans %}Za{% endtrans %}</button>
                                    <button class="btn btn-danger btn-vote" {% if active.votes[active.active][participant.aid] is defined%}disabled{% endif%} data-vote="0">{% trans %}Przeciw{% endtrans %}</button>
                                    {% if meeting.holdBack %}
                                        <button class="btn btn-warning btn-vote" {% if active.votes[active.active][participant.aid] is defined%}disabled{% endif%} data-vote="2">{% trans %}Wstrzymuje się{% endtrans %}</button>
                                    {% endif %}
                                </div>
                                {% else %}
                            <form id="voteCandidateForm" data-warned="false" data-warning="{% trans with { '%count%':meeting.toChoose} %}Aby oddać poprawny głos możesz wybrać maksymalnie %count% kandydatów{% endtrans %}">
                            <ul class="list-group mb-2 vote-ul">
                                {% set voted=false %}
                                {% for key,candidate in meeting.candidates %}
                                    <input name="vote[]"
                                           type="checkbox"
                                           {% if active.votes[active.turn][(key+1)][participant.aid] is defined %}
                                               {% set voted=true %}
                                               checked
                                            {% endif %}
                                           value="{{ candidate.id }}" class="d-none" id="candidate_{{ (key+1) }}">
                                    <label class="list-group-item list-group-item-action mb-0" for="candidate_{{ (key+1) }}">{{ candidate.name }}</label>
                                {% endfor %}
                            </ul>
                                <button type="submit" class="btn btn-outline-primary" {% if voted %}disabled{% endif %}>{% trans %}Głosuj{% endtrans %}</button>
                            </form>

                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
                <div class="col-12 col-lg-6">
                <div class="votes mt-3">
                    <div class="vote-row">
                        <div class="vote-box"></div>
                            <div class="vote-box font-weight-bold">
                                {{ participant.aid }}
                            </div>
                    </div>
                    {% for i in 0..meeting.count %}
                        <div class="vote-row" id="vote_{{ i }}">
                            <div class="vote-box">{% if i==0 %}T{% else %}{{ i }}{% endif %}</div>
                            {% if meeting.variant==1 %}
                            <div class="vote-box {%if active.votes[i][participant.aid] is defined %}{{active.votes[i][participant.aid]|gm_vote_color}}{% endif %}" id="vote_{{ participant.aid }}_{{ i }}"></div>
                            {% else %}
                                {% if i==0 %}
                                    <div class="vote-box {%if active.votes[i][participant.aid] is defined %}{{active.votes[i][participant.aid]|gm_vote_color}}{% endif %}" id="vote_{{ participant.aid }}_{{ i }}"></div>
                                    {% else %}
                                <div class="vote-box {%if active.votes[active.turn][i][participant.aid] is defined %}{{active.votes[active.turn][i][participant.aid]|gm_vote_color}}{% endif %}" id="vote_{{ participant.aid }}_{{ i }}"></div>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                </div>
                </div>
            {% else %}
                <div class="alert alert-info">
                    <h4>{% trans %}Zgromadzenie zakończone{% endtrans %}</h4>
                    <p>{% trans %}Serdecznie dziękujemy za udział w głosowaniu!{% endtrans %}</p>
                </div>
            <p class="font-weight-bold">{% trans %}Wyniki głosowań{% endtrans %}:</p>
        <div class="table-responsive">
            <table class="table table-striped">
                {% if meeting.variant==1 %}
                    <thead>
                    <tr>
                        <th></th>
                        <th>{% trans %}Treść uchwały{% endtrans %}</th>
                        <th>{% trans %}Status{% endtrans %}</th>
                        <th>{% trans %}Głosy za{% endtrans %}</th>
                        <th>{% trans %}Głosy przeciw{% endtrans %}</th>
                        {% if meeting.holdBack %}
                            <th>{% trans %}Głosy wstrzymane{% endtrans %}</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for key,resolution in meeting.resolutions %}
                        <tr>
                            <td>{{ key+1 }}</td>
                            <td>{{ resolution.content }}</td>
                            <td>{% if resolution.accepted is not null %}
                                    {% if resolution.accepted %}
                                        {% trans %}Zaakceptowane{% endtrans %}
                                    {% else %}
                                        {% trans %}Odrzucone{% endtrans %}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if resolution.votesOnCount is defined and resolution.votesOnCount is not empty %}
                                    {% if(meeting.weight==1) %}
                                        {{ (meeting.totalVotes > 0 ?((resolution.votesOnCount.votes/meeting.totalVotes)*100):0)|number_format(2,"."," ") }}
                                    {% else %}
                                        {{ (meeting.totalActions> 0?((resolution.votesOnCount.actions/meeting.totalActions)*100):0)|number_format(2,"."," ") }}
                                    {% endif %}
                                    %
                                {% endif %}
                            </td>
                            <td>
                                {% if resolution.votesAgainstCount is defined and resolution.votesAgainstCount is not empty %}
                                    {% if(meeting.weight==1) %}
                                        {{ (meeting.totalVotes > 0 ?((resolution.votesAgainstCount.votes/meeting.totalVotes)*100):0)|number_format(2,"."," ") }}
                                    {% else %}
                                        {{ (meeting.totalActions> 0?((resolution.votesAgainstCount.actions/meeting.totalActions)*100):0)|number_format(2,"."," ") }}
                                    {% endif %}%
                                {% endif %}
                            </td>
                            {% if meeting.holdBack %}
                                <td>
                                    {% if resolution.votesHoldCount is defined and resolution.votesHoldCount is not empty %}
                                        {% if(meeting.weight==1) %}
                                            {{ (meeting.totalVotes>0 ?((resolution.votesHoldCount.votes/meeting.totalVotes)*100):0)|number_format(2,"."," ") }}
                                        {% else %}
                                            {{ (meeting.totalActions>0 ?((resolution.votesHoldCount.actions/meeting.totalActions)*100):0)|number_format(2,"."," ") }}
                                        {% endif %}%
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                {% else %}
                    <thead>
                    <tr>
                        <th></th>
                        <th>{% trans %}Dane kandydata{% endtrans %}</th>
                        <th>{% trans %}Głosy{% endtrans %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key,candidate in meeting.candidates %}
                        <tr>
                            <td>{{ key+1 }}</td>
                            <td>{{ candidate.name }}</td>
                            <td>{{ candidate.votesCount }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        </div>

        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{{ include('polling/vote_scripts.html.twig',{participant:participant,hash:hash,}) }}

{% endblock %}