{% extends 'base.html.twig' %}

{% block title %}{% trans %}Walne zgromadzenie{% endtrans %}: {{ meeting.name }}{% endblock %}

{% block body %}

    <div>
        {% if meeting.status==0 %}
            <h3 class="text-center">{% trans %}Oczekiwanie na rozpoczęcie Walnego zgromadzenia{% endtrans %}</h3>
            {% elseif meeting.status==1 %}
                <div class="row">
                {% if active.active is not defined or active.active is null %}
                    <div class="col-12">
                        <h3 class="text-center">{% trans %}Oczekiwanie na aktywowanie pytania przez organizatora{% endtrans %}</h3>
                    </div>
                {% else %}
                    <div class="col-12 col-lg-6">
                        {% if active.active==0 %}
                        <h2>{% trans %}Sprawdzanie obecności{% endtrans %}</h2>
                    <p>{% trans %}Aby potwierdzić swoją obecność kliknij dowolny przycisk{% endtrans %}</p>
                            {% else %}
                                <h2>{{ meeting.resolutions[(active.active-1)].content }}</h2>
                        {% endif %}
                    <div class="btn-group btn-group-lg">
                        <button class="btn btn-success btn-vote" {% if active.votes[active.active][participant.aid] is defined%}disabled{% endif%} data-vote="1">{% trans %}Za{% endtrans %}</button>
                        <button class="btn btn-danger btn-vote" {% if active.votes[active.active][participant.aid] is defined%}disabled{% endif%} data-vote="0">{% trans %}Przeciw{% endtrans %}</button>
                        {% if meeting.holdBack %}
                            <button class="btn btn-warning btn-vote" {% if active.votes[active.active][participant.aid] is defined%}disabled{% endif%} data-vote="2">{% trans %}Wstrzymuje się{% endtrans %}</button>
                        {% endif %}
                    </div>
                    </div>
                {% endif %}
                <div class="col-12 col-lg-6">
                <div class="votes mt-3">
                    <div class="vote-row">
                        <div class="vote-box"></div>
                        {% for item in list %}
                            <div class="vote-box">
                                {{ item.aid }}
                            </div>
                        {% endfor %}
                    </div>
                    {% for i in 0..meeting.count %}
                        <div class="vote-row" id="vote_{{ i }}">
                            <div class="vote-box">{% if i==0 %}T{% else %}{{ i }}{% endif %}</div>
                            {% for item in list %}
                                <div class="vote-box {%if active.votes[i][item.aid] is defined %}{{active.votes[i][item.aid]|gm_vote_color}}{% endif %}" id="vote_{{ item.aid }}_{{ i }}"></div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                </div>
                </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{{ include('polling/vote_scripts.html.twig',{participant:participant,hash:hash,}) }}

{% endblock %}