{% extends 'base.html.twig' %}

{% block title %}{% trans %}Dołącz do zgromadzenia{% endtrans %}: {{ meeting.name }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row form-group">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.aid)}}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.aid) }}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.password)}}
        </div>
        <div class="col-12 col-sm-9 d-flex">
            {{ form_widget(form.password) }}
        </div>
    </div>

    {{ form_row(form._token) }}
    {{ form_row(form.submit) }}
    {{ form_end(form,{render_rest:false}) }}
{% endblock %}