{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <div class="row form-group">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.name)}}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.startDate)}}
        </div>
        <div class="col-12 col-sm-9 d-flex">
            {{ form_widget(form.startDate) }}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.variant)}}
        </div>
        <div class="col-12 col-sm-9 d-flex">
            {{ form_widget(form.variant) }}
        </div>
    </div>
    <div class="row form-group d-none gm-personal">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.countPersonal)}}
        </div>
        <div class="col-12 col-sm-9 d-flex">
            {{ form_widget(form.countPersonal) }}
            <span id="questionsCountPersonalSpan" class="font-weight-bold text-primary ml-2 mt-1 valueSpan">20</span>
        </div>
    </div>
    <div class="row form-group d-none gm-resolution">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.countResolution)}}
        </div>
        <div class="col-12 col-sm-9 d-flex">
            {{ form_widget(form.countResolution) }}
            <span id="questionsCountResolutionSpan" class="font-weight-bold text-primary ml-2 mt-1 valueSpan">20</span>
        </div>
    </div>
    <div class="row form-group d-none gm-resolution">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.holdBack)}}
        </div>
        <div class="col-12 col-sm-9">
            <div class="custom-control custom-switch">
                <input type="checkbox" {% if form.holdBack.vars.checked %}checked{% endif%} name="{{ form.holdBack.vars.full_name }}"
                       class="custom-control-input" id="{{ form.holdBack.vars.id }}" value="{{ form.holdBack.vars.value }}">
                <label class="custom-control-label" for="{{ form.holdBack.vars.id }}">{{ form.holdBack.vars.label }}</label>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.weight)}}
        </div>
        <div class="col-12 col-sm-9 d-flex">
            {{ form_widget(form.weight) }}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.secret)}}
        </div>
        <div class="col-12 col-sm-9">
            <div class="custom-control custom-switch">
                <input type="checkbox" {% if form.secret.vars.checked %}checked{% endif%} name="{{ form.secret.vars.full_name }}"
                       class="custom-control-input" id="{{ form.secret.vars.id }}" value="{{ form.secret.vars.value }}">
                <label class="custom-control-label" for="{{ form.secret.vars.id }}">{{ form.secret.vars.label }}</label>
            </div>
        </div>
    </div>
    <div class="row form-group d-none gm-personal">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.badVoteSettings)}}
        </div>
        <div class="col-12 col-sm-9 d-flex">
            {{ form_widget(form.badVoteSettings) }}
        </div>
    </div>


    {{ form_row(form._token) }}
    {{ form_row(form.submit,{attr:{disabled:true}}) }}
    {{ form_end(form,{render_rest:false}) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#questionsCountResolutionSpan').html($('#general_meeting_countResolution').val());
            $('#questionsCountPersonalSpan').html($('#general_meeting_countPersonal').val());
            meetingChange($('#general_meeting_variant').val());

            $('#general_meeting_countResolution').on('change',function () {
                $('#questionsCountResolutionSpan').html($(this).val());
            });
            $('#general_meeting_countPersonal').on('change',function () {
                $('#questionsCountPersonalSpan').html($(this).val());
            });

            $('#general_meeting_variant').on('change',function () {
                meetingChange($(this).val());
            });
            function meetingChange(value) {
                if(value==="1")
                {
                    $('.gm-both').removeClass('d-none');
                    $('.gm-resolution').removeClass('d-none');
                    $('.gm-personal').addClass('d-none');
                    $('#general_meeting_badVoteSettings').prop('required',false);
                    $('#general_meeting_countResolution').prop('required',true);
                    $('#general_meeting_countPersonal').prop('required',false);
                    $('#general_meeting_submit').prop('disabled',false);
                }else if(value==="2"){
                    $('.gm-both').removeClass('d-none');
                    $('.gm-resolution').addClass('d-none');
                    $('.gm-personal').removeClass('d-none');
                    $('#general_meeting_badVoteSettings').prop('required',true);
                    $('#general_meeting_countResolution').prop('required',false);
                    $('#general_meeting_countPersonal').prop('required',true);
                    $('#general_meeting_submit').prop('disabled',false);
                }else{
                    $('.gm-both').addClass('d-none');
                    $('.gm-personal').addClass('d-none');
                    $('.gm-resolution').addClass('d-none');
                    $('#general_meeting_submit').prop('disabled',true);
                }
            }
        })
    </script>
{% endblock %}