{% extends 'base.html.twig' %}

{% block title %}{% trans %}Walne zgromadzenie{% endtrans %}:{{ meeting.name }}{% endblock %}

{% block body %}

    <div>
        <h3>{{ meeting.name }}</h3>
        <p>{% trans %}Planowana data zgromadzenia{% endtrans %}: {{ meeting.date|date('d/m/Y H:i') }}</p>

        {% if meeting.secret %}
            <p>{% trans %}Głosowanie tajne{% endtrans %}</p>
        {% endif %}
        <div class="btn-group btn-group-sm mb-2">
            {% if meeting.status!=1 %}
                <a href="{{ path('app_manage_general_meeting_edit',{slug:meeting.slug}) }}" class="btn btn-secondary">{% trans %}Edycja{% endtrans %}</a>
            {% endif %}
            <a href="{{ path('app_manage_general_meeting_cockpit',{slug:meeting.slug}) }}" class="btn btn-outline-info">{% trans %}Przejdź do zarządzania{% endtrans %}</a>
            {{ include('polling/general_meeting_status.html.twig',{meeting:meeting}) }}
        </div>

        <h3>{% trans %}Lista głosowań{% endtrans %}</h3>

        <div class="col-12">
            {% if votings|length<meeting.count %}
                <div><a class="btn btn-sm btn-primary" href="{{ path('app_manage_general_meeting_add_voting',{slug:meeting.slug}) }}">{% trans %}Dodaj głosowanie{% endtrans %}</a></div>
            {% endif %}
            {% for voting in votings %}
                <div>{{ voting.content }} - {{ voting|voting_type }}
                    <div class="btn-group btn-group-sm">
                        <a href="{{ path('app_manage_general_meeting_edit_voting',{slug:meeting.slug,sort:voting.sort}) }}" class="btn btn-outline-primary">{% trans %}Edycja{% endtrans %}</a>
                        {{ include('general_meeting/_delete_form.html.twig',{voting:voting}) }}
                    </div>
                </div>
            {% else %}
                <p>{% trans %}Brak głosowań{% endtrans %}</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.btn-gm-begin').on('click touch',function () {
                let href=$(this).data('href');
                let hash=$(this).data('hash');
                let url=$(this).data('url');
                if(confirm('{% trans %}Na pewno chcesz rozpocząć to zgromadzenie?{% endtrans %}'))
                {
                    $.ajax({
                        type: 'PATCH',
                        url: href,
                        processData: false,
                        contentType: 'application/merge-patch+json',
                    }).done(function (result) {
                        if(result.status==="success")
                        {
                            const message = {
                                name:"organizator",
                                message: "meeting_start",
                                type: 'gm_management'
                            }
                            const socket = new WebSocket("ws://{{app.request.getHost()}}:3100/meeting_"+hash+"");

                            socket.onopen = function(e) {
                                console.log("Connection established!");
                                socket.send(JSON.stringify(message));
                                window.location.href=url;
                            };
                        }
                    });
                }
            })

            $('.btn-gm-end').on('click touch',function () {
                let href=$(this).data('href');
                let hash=$(this).data('hash');
                let url=$(this).data('url');
                if(confirm('{% trans %}Na pewno chcesz zakończyć to zgromadzenie?{% endtrans %}'))
                {
                    $.ajax({
                        type: 'PATCH',
                        url: href,
                        processData: false,
                        contentType: 'application/merge-patch+json',
                    }).done(function (result) {
                        if(result.status==="success")
                        {
                            const message = {
                                name:"organizator",
                                message: "meeting_end",
                                type: 'gm_management'
                            }
                            const socket = new WebSocket("ws://{{app.request.getHost()}}:3100/meeting_"+hash+"");

                            socket.onopen = function(e) {
                                console.log("Connection established!");
                                socket.send(JSON.stringify(message));
                                window.location.href=url;
                            };
                        }
                    });
                }
            })

            $('.btn-gm-reset').on('click touch',function () {
                let href=$(this).data('href');
                let hash=$(this).data('hash');
                let url=$(this).data('url');
                if(confirm('{% trans %}Na pewno chcesz rozpocząć od nowa to zgromadzenie?{% endtrans %}'))
                {
                    $.ajax({
                        type: 'PATCH',
                        url: href,
                        processData: false,
                        contentType: 'application/merge-patch+json',
                    }).done(function (result) {
                        if(result.status==="success")
                        {
                            const message = {
                                name:"organizator",
                                message: "meeting_start",
                                type: 'gm_management'
                            }
                            const socket = new WebSocket("ws://{{app.request.getHost()}}:3100/meeting_"+hash+"");

                            socket.onopen = function(e) {
                                console.log("Connection established!");
                                socket.send(JSON.stringify(message));
                                window.location.href=url;
                            };
                        }
                    });
                }
            })
        });
    </script>
{% endblock %}
