{% extends 'base.html.twig' %}

{% block title %}{% trans %}Walne zgromadzenie{% endtrans %}:{{ meeting.name }}{% endblock %}

{% block body %}

    <div>
        <h3>{{ meeting.name }}</h3>
        <p>
            {% trans %}Lista uchwał{% endtrans %}
        </p>
        <p><a href="{{ path('app_manage_general_meeting_edit_resolutions',{slug:meeting.slug})}}" class="btn btn-sm btn-secondary">{% trans %}Edytuj listę{% endtrans %}</a></p>
        <div>

        {% for key,resolution in resolutions %}
            <p class="mb-2"><strong>{{ key+1 }}:</strong> {{ resolution.content }}</p>
        {% endfor %}
        </div>
    </div>

{% endblock %}
