{% extends 'base.html.twig' %}
    {% block metatags %}
        {% if seconds is defined %}
        <meta http-equiv="refresh" content="{{ seconds }}" >
        {% endif %}
    {% endblock %}
{% block title %}{% trans %}voting{% endtrans %}: {{ polling.name }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-info">
                <h4>{% trans %}profile.your_data{% endtrans %}:</h4>
                <p class="mb-0">{% trans %}register.form.username.label{% endtrans %}: <strong>{{ app.request.session.get('name') }}</strong></p>
                {% if seconds is defined %}
                    <p>{% trans %}voting.time_for_answer{% endtrans %}: <span id="seconds_counter"></span></p>
                {% endif %}
            </div>
        </div>
    </div>
    {{ form_start(form) }}

    <h3>{{ question.questionContent }}</h3>
    {% if question.multiChoice %}
    <p><small>{% trans %}question.multi_choice{% endtrans %}</small></p>
    {% endif %}
        <ul class="list-group mb-2 vote-ul">
            {% for key,answer in question.answers %}
                <input name="answer{% if question.multiChoice %}[]{% endif %}"
                       type="{% if question.multiChoice %}checkbox{% else %}radio{% endif %}"
                       value="{{ answer.id }}" class="d-none" id="answer_{{ key }}">
                <label class="list-group-item list-group-item-action mb-0" for="answer_{{ key }}">{{ answer.content }}</label>
            {% endfor %}
        </ul>
    {{ form_row(form.startDateString) }}
    {{ form_row(form.submit) }}
    {{ form_row(form._token) }}
    {{ form_end(form,{render_rest:false}) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if seconds is defined %}
    <script>
        // Set the date we're counting down to
        let t = new Date();
        t.setSeconds(t.getSeconds() + {{ seconds }});
        t = t.getTime();
        // Update the count down every 1 second
        let x = setInterval(function() {

            // Get today's date and time
            let now = new Date().getTime();

            // Find the distance between now and the count down date
            let distance = t - now;

            // Time calculations for days, hours, minutes and seconds
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((distance % (1000 * 60)) / 1000);

            let html='';
            if(minutes>0)
            {
                html+=minutes+' {% trans %}minute{% endtrans %}';
            }
            html+=' '+seconds+ ' {% trans %}seconds{% endtrans %}';
            document.getElementById("seconds_counter").innerHTML = html;

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("seconds_counter").innerHTML = "0";
            }
        }, 1000);
    </script>
    {% endif %}
{% endblock %}