{% extends 'base.html.twig' %}

{% block title %}{% trans %}polling.many{% endtrans %}{% endblock %}

{% block body %}
    <div>
        <div class="row">
            <div class="col-12">
                <h3>{{ 'polling.my_pollings'|trans }}</h3>
            </div>
            {% for polling in pollings %}
                <div class="col-12 mb-2">
                    <div class="row">
                        <div class="col-3 col-md-4">
                            {{ polling.name }}
                            {% if manage %}
                                <span class="mr-2">({{ polling.questions|length }}/{{ polling.questionsCount }})</span>
                            {% endif %}
                        </div>
                        <div class="col-9 col-md-8">

                            <div class="btn-group btn-group-sm">
                                {% if manage %}
                                    <a href="{{ path('app_manage_polling_show',{slug:polling.slug}) }}" class="btn btn-primary">{% trans %}preview{% endtrans %}</a>
                                    <a href="{{ path('app_polling_edit',{slug:polling.slug}) }}" class="btn btn-secondary">{% trans %}edit{% endtrans %}</a>
                                    {{ include('polling/_delete_form.html.twig') }}
                                {% else %}
                                    {% if polling.session %}
                                        <a href="{{ path('app_polling_vote_session',{slug:polling.slug}) }}" class="btn btn-primary">{% trans %}enter_polling{% endtrans %}</a>
                                    {% else %}
                                        <a href="{{ path('app_polling_enter',{slug:polling.slug}) }}" class="btn btn-primary">{% trans %}enter_polling{% endtrans %}</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if pollings|length==0 %}
                <div class="col-12">
                    <div class="alert-info alert">{% trans %}Brak głosowań{% endtrans %}</div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
